{
  "env": {
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1"
  },
  "permissions": {
    "allow": [],
    "deny": [],
    "defaultMode": "plan"
  },
  "model": "opus[1m]",
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "{{HOME}}/.claude/hooks/rtk-rewrite.sh"
          }
        ]
      }
    ]
  },
  "pluginMarketplaces": {},
  "enabledPlugins": {}
}
